SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
HOTKEY_COMBO=ctrl+Digit1
HOTKEY_PLAY_PAUSE=ctrl+Digit2
HOTKEY_NEXT=ctrl+Digit3
HOTKEY_PREVIOUS=ctrl+Digit4
